//----- color -----//
$colorDarkBlue: #66BFBF;
$colorLightBlue: #EAF6F6;
$colorGreen: #18978F;
$colorRed: #FF0063;
$colorBrown: #E9DAC1;
$colorDark: #06283D;
//----- font size -----//
$fontSize-1: 18px;
$fontSize-2: 24px;
$fontSize-3: 32px;
$fontSize-4: 48px;
